.hero-img-glow-effect {
  background-color: aquamarine;
  box-shadow: 
  4px  6px 25px 1px #ff0000, 
  -6px -4px 29px  1px #0c07ff,
  4px -6px 34px  1px #1482d1,
  -5px 4px 35px  1px #ff9900;
}
.hero-img{
  height: 15em;
  width: 15em;
}