.photo-project__pop-up-container{
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.092);
}
.photo-project__pop-up--image-container{
  display: inline-block;
  background-color: white;
  margin-top: 5%;
  margin-left: 25%;
  justify-content: center;
  padding: 1em;
}
.photo-project__pop-up--image-container > img {
  width: 40em;
  height: 100%;
  object-fit: contain;
}

