.photo-project__pop-up-container{
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.092);
}
.photo-project__pop-up--image-container{
  display: flex;
  margin-top: 10em;
  justify-content: center;
}
.photo-project__pop-up--image-container > img {
  width: 40em;
  height: 100%;
  object-fit: contain;
}

