.photo-project__pop-up-container {
  z-index: 100;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}
.photo-project__pop-up--image-container {
  border-radius: 16px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding: 1.5em;
}
.photo-project__pop-up--image-container > img {
  width: 33em;
  height: 100%;
  object-fit: contain;
}
.photo-project__close-image-button {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}
.photo-project__close-image-button img {
  margin-bottom: 10px;
  width: 2em;
  height: 100%;
  object-fit: cover;
}
