.tech-projects__container--main{
  display: flex;
  flex-direction: row;
  width: 100vw;
  column-gap: 5em;
  overflow-x: hidden;
  padding-left: 11em;
  align-items: center;
}
.company-brand > img {
  width: 3em;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
  margin-right: 10px;
}
.tech-projects__lists--container{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 36%;
  overflow-x: auto;
  position: relative;
}
.tech-projects__scroll--button{
  padding-top: 2em;
  width: 100vw;
  overflow-x: hidden;
  padding-left: 34%;
}
.project-item{
  cursor: pointer;
  border: 1px solid rgb(238, 238, 238);
}
.project-item:hover{
  box-shadow: 0px 3px 9px rgb(234, 234, 234);
}

@media (max-width: 800px) {
  .tech-projects__lists--container{
    grid-auto-flow: column;
    grid-auto-columns: auto;
    grid-auto-columns: 15%;
    overflow-x: auto;
  }
}