/* Slider style */
.slider-container{
  z-index: 75;
  position: fixed;
  top: 35%;
  background-color: white;
  width: 3.4rem;
  box-shadow: 3px 0px 12px rgba(52, 52, 52, 0.199);
  padding-bottom: 3rem;
}
.slider-container li{
  margin-left: 1rem;
  margin-top: 2rem;
}
.side-icon-link img:hover{
  width: 29px;
  height: 100%;
}
.side-icon-link img{
  width: 23px;
  height: 100%;
}

@media (max-width:800px){
  .slider-container{
    top: 93%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding-bottom: 0;
  }
  .slider-container ul{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slider-container li{
    margin-left: 0;

    margin-top:0;
    padding: 1em;
  }
}