.project-tabs__container--main {
  width: 80vw;
  margin: auto;
  align-items: center;
}
.project-tabs__tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}
.project-tabs__tabs--style-container{
  display: grid;
  grid-auto-flow: column;
  column-gap: 3em;
  padding: 0.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 40px;
  background-color: rgb(245, 245, 245);
}

.project-tabs__tab {
  padding: 12px 20px;
  cursor: pointer;
  border: 1px solid rgb(221, 221, 221);
  background-color: #ffffff;
  width: 14em; /* adjust as needed */
  text-align: center;
  border-radius: 40px;
}

.project-tabs__tab.active {
  border-bottom: none;
  border-right: none;
  border-left: none;
  background: -webkit-linear-gradient(left, #9b078a,  #5339ea);
  color: white;
}

.project-tabs__tab:hover {
  box-shadow: 0px 0px 3px rgb(212, 212, 212);
}

.tab.active:first-child {
  border-left: 1px solid #ccc;
}
.tab.active:last-child {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.active {
  display: block;
}

.tab-content {
  background-color: #ffffff;
}

.tab-content-item {
  display: none;
  padding: 0.1em;
  max-width: 100%;
  padding-inline: 20px;
}

.tab-content-item.active {
  display: block;
}



.creative-projects__lists{
  background-color: rgb(245, 245, 245);
  padding-top: 1em;
  padding-bottom: 1em;
  padding-inline: 1em;
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.creative-projects__list--item > img {
  width: 20em;
  height: 100%;
  object-fit: cover;
  border: 1px solid rgb(236, 236, 236);
}