@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Solitreo&display=swap');
:root{
  background-color: rgb(9, 9, 9);
}


.container{
  width: min(75vw);
  margin-inline: auto;
}

.xl-header{
  font-size: 5rem;
  font-weight: bold;
}
.l-header{
  font-size: 3.5rem;
}
.m-header{
  font-size: 1.52rem;
  font-weight: 300;
}
.n-header{
  font-size: 1.45rem;
  font-weight: 600;
  padding-bottom: 4px;
}
.speciality-font{
  font-weight: 500;
  background: -webkit-linear-gradient(left, #a00abe, #0e4267, #8975ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#speciality-font{
  font-weight: 500;
  background: -webkit-linear-gradient(left, #d445ff, #4778ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cool-font{
  font-family: 'Dancing Script', cursive;
}

.space-bar{
  height: 8rem;
}

